

// body{
//     // padding-bottom: 1000px;
    
// }
//templates 
.bg-custom{
    background-color: #162331!important;
}



.bg-form{
    background-color: #111822;
}
.bg-custom-dark{
    background-color: #0F1720;
}

.offcanvas-header{
    .btn-close{
        background-image:url('data:image/svg+xml,<svg fill="%23FFFFFF" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 100 100" xml:space="preserve"><path d="M84.707,68.752L65.951,49.998l18.75-18.752c0.777-0.777,0.777-2.036,0-2.813L71.566,15.295c-0.777-0.777-2.037-0.777-2.814,0L49.999,34.047l-18.75-18.752c-0.746-0.747-2.067-0.747-2.814,0L15.297,28.431c-0.373,0.373-0.583,0.88-0.583,1.407c0,0.527,0.21,1.034,0.583,1.407L34.05,49.998L15.294,68.753c-0.373,0.374-0.583,0.88-0.583,1.407c0,0.528,0.21,1.035,0.583,1.407l13.136,13.137c0.373,0.373,0.881,0.583,1.41,0.583c0.525,0,1.031-0.21,1.404-0.583l18.755-18.755l18.756,18.754c0.389,0.388,0.896,0.583,1.407,0.583c0.511,0,1.019-0.195,1.408-0.583l13.138-13.137C85.484,70.789,85.484,69.53,84.707,68.752z"/></svg>')!important;
        float: right!important;
    }
}
.modal{
    .btn-close{
        background-image:url('data:image/svg+xml,<svg fill="%23FFFFFF" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 100 100" xml:space="preserve"><path d="M84.707,68.752L65.951,49.998l18.75-18.752c0.777-0.777,0.777-2.036,0-2.813L71.566,15.295c-0.777-0.777-2.037-0.777-2.814,0L49.999,34.047l-18.75-18.752c-0.746-0.747-2.067-0.747-2.814,0L15.297,28.431c-0.373,0.373-0.583,0.88-0.583,1.407c0,0.527,0.21,1.034,0.583,1.407L34.05,49.998L15.294,68.753c-0.373,0.374-0.583,0.88-0.583,1.407c0,0.528,0.21,1.035,0.583,1.407l13.136,13.137c0.373,0.373,0.881,0.583,1.41,0.583c0.525,0,1.031-0.21,1.404-0.583l18.755-18.755l18.756,18.754c0.389,0.388,0.896,0.583,1.407,0.583c0.511,0,1.019-0.195,1.408-0.583l13.138-13.137C85.484,70.789,85.484,69.53,84.707,68.752z"/></svg>')!important;
        
    }
}


//header
header{
    // .col-1{
    //     width: 60px;
    // }
    .account-button{
        background-color:#243247;
        color:white;
        padding: 0.5rem 0.25rem;
        min-width: 9.25rem;
    min-height: 3rem;
        .bi-person-circle{
            font-size: 24px;
        }
        .account-icon{
            h4{
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 142.857%;
            }
            h6{
                font-size: 0.875rem;
            }
            .bi-person-circle{
                font-size: 10px;
            }
        }
        &:hover{
            background-color: rgb(0, 103, 178);
            cursor: pointer;
        }

        //offca canvas
        .offcanvas-header{
            .btn-close{
                background-color: white!important;
            }
        }
    }
    .account-button.active{
        background-color: rgb(0, 103, 178);
            cursor: pointer;
    }

    .logo{
        img{
            width: 50px;
        }
    }
}

//main content body
.main-content{
    height: 91vh;
    width: 100%;
}



.mobile-menu{
    .menu{
        .menu-item{
            &:hover{
                .bi{
                color:#0094ff;
                }
                span{
                    color:#0094ff;
                }
            }
            .bi{
                color:#98a4b3;
                line-height: normal;
                
            }
            span{
                color:#98a4b3;  
                font-size: 10px;
            }
            
        }
        .menu-item.active{
            .bi{
                color:#0094ff;
            }
            span{
                color:#0094ff;
            }
        }
    }
}




//content
.chart-wrapper{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    .container{
        height: 100vh;
        
    }
    @include media-breakpoint-down(md){
        width: 100%;
        height: 100%;
        padding-left: 0px;
    }
}
.widget1{
    width: 100%;
    height: 100%;

    .container{
        height: 100vh;
        
    }
    @include media-breakpoint-down(md){
        width: 100%;
        height: 100%;
    }
    
}

//sections
