@media (min-width:992px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="fda5b75b-5f1e-d0a4-b299-d5495d25befc"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="fda5b75b-5f1e-d0a4-b299-d5495d25bf01"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="fda5b75b-5f1e-d0a4-b299-d5495d25bf06"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="80e98dd7-96de-f7f8-f1b9-80d70b4bae4e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="a961220b-7994-1047-36ac-769cba7f8c9d"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="5232234d-42d8-d60d-f930-4ec04e9ac84b"] {
    opacity: 0;
  }
}

@media (max-width:991px) and (min-width:768px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="fda5b75b-5f1e-d0a4-b299-d5495d25befc"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="fda5b75b-5f1e-d0a4-b299-d5495d25bf01"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="fda5b75b-5f1e-d0a4-b299-d5495d25bf06"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="80e98dd7-96de-f7f8-f1b9-80d70b4bae4e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="a961220b-7994-1047-36ac-769cba7f8c9d"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="5232234d-42d8-d60d-f930-4ec04e9ac84b"] {
    opacity: 0;
  }
}

@media (max-width:767px) and (min-width:480px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="fda5b75b-5f1e-d0a4-b299-d5495d25befc"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="fda5b75b-5f1e-d0a4-b299-d5495d25bf01"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="fda5b75b-5f1e-d0a4-b299-d5495d25bf06"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="80e98dd7-96de-f7f8-f1b9-80d70b4bae4e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="a961220b-7994-1047-36ac-769cba7f8c9d"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="5232234d-42d8-d60d-f930-4ec04e9ac84b"] {
    opacity: 0;
  }
}

.no-scroll {
  overflow: hidden;
}